@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import "tailwindcss";
@import "@fontsource/josefin-sans";

 
body{
  background: rgb(6, 6, 6);
  
}
.josefin-sans {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}


@keyframes loop{
  from {     transform: translateX(0%);
  }
   to {
    transform: translateX(-40%);
  }
}

.animate-loop {
  animation: loop 20s linear infinite;
}

